 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* TO use Box Model  */
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
  overflow-x:hidden;
}
.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.hero__container{
  width:100%;
}
.hero__image__container{
  width:100%;
}
.hero__image{
  width:100%;
}
.navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:0 4px 8px 0 rgba(211, 207, 207, 0.2);
}
.navbar__brand {
  width:30px;
}
.navbar_logo {
  width:100%;
}
.nav__item{
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

@media (min-width:768px){
  .navbar{
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
  }
  .navbar__brand{
    max-width:100px;
    height: auto;
    
  }
  .nav__item{
    padding: 15px;
    font-size:20px;
  }
  .button__primary{
    padding: 20px;
    font-size: 20px;;
  }
  .hero__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width:1020px){
 .hero__image__container{
   width: 500px;
   height: 500px;
 }
}
@media (min-width:1400px){

}